# --- Virtual Environments ---
# Folders containing local project dependencies
venv/
.venv/
env/

# --- Configuration & Secrets ---
# Environment variable files containing sensitive keys and credentials
.env

# --- Python Compiled Files ---
# Byte-compiled or optimized files and directories
__pycache__/
*.py[cod]
*$py.class


count_code_lines.py


node_modules